* annex.backend=MD5E
**/.git* annex.largefiles=nothing
* annex.largefiles=((mimeencoding=binary)and(largerthan=0))
*.bk2 annex.largefiles=anything
*.html annex.largefiles=anything
*.json annex.largefiles=nothing
*.nii.gz annex.largefiles=anything
*.svg annex.largefiles=anything
*.tgz annex.largefiles=anything
*.tsv annex.largefiles=nothing
*.txt annex.largefiles=nothing
*_scans.tsv annex.largefiles=anything
.all-contributorsrc annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
.gitignore annex.largefiles=nothing
.gitlab-ci.yml annex.largefiles=nothing
.gitmodules annex.largefiles=nothing
sub-*/**/*_events.tsv annex.largefiles=anything
